/* Navar */

span.navbar-brand {
  font-size: 23px;
  color: #ddd !important;
}

/* Sidebar */

.well > hr {
  border: 1px solid #c8c8c852;
}

.well > a {
  color: #ddd;
}

.selectize-input.full {
  background-color: #ddd !important;
}

.selectize-dropdown, .selectize-dropdown.form-control {
  background-color: #ddd !important;
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
  background: #ddd !important;
}

/* Leaflet tooltip */

.leaflet-tooltip > div {
	display: block;
	min-width: 270px;
}

.llabel {
  display: inline-block;
}

.llabel-header {
  border-bottom: 1px solid #d9d8d4;
  padding-bottom: 3px;
  padding-right: 9px;
  padding-left: 7px;
}

.llabel-icon2 {
  float: right;
  position: relative;
  top: 6px;
}

.llabel-icon {
  color: #e65350;
  font-size: 16px;
  position: relative;
  bottom: 1px;
}

.llabel-title { 
  font-size: 19px !important;
}

.llabel-info {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  
}

.llabel-data-name {
  float:left;
}

.llabel-data {
  float: right;
  font-weight: 600;
}

/* Year input bar */
.irs--shiny .irs-bar {
    top: 25px;
    height: 8px;
    border-top: 1px solid #dd666b !important;
    border-bottom: 1px solid #dd666b !important;
    background: #d78387 !important;
}

.irs--shiny .irs-single {
  background-color: #df6a6f !important;
}